body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 80vmin;
  margin-bottom: 50px;
}

.title-h1 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin: 20px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons__player {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.buttons__player p {
  margin: 0 5px 0;
  font-size: 1em;
  font-weight: bold;
}

.buttons__icon {
  display: flex;
  align-items: center;
}

.buttons__icon--home,
.buttons__icon--restart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
}

.buttons__icon--home {
  background-color: #1fcca4;
}

.buttons__icon--home:hover,
.buttons__icon--home:focus {
  background-color: #1cbb96;
}

.buttons__icon--restart {
  background-color: #0197f6;
}

.buttons__icon--restart:hover,
.buttons__icon--restart:focus {
  background-color: #0090e9;
}

.playground {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000000ae;
}

.square {
  align-items: center;
  width: 10%;
  aspect-ratio: 1/1;
  background-color: rgba(213, 182, 210, 0.892);
  border: 1px solid #000000ae;
  background-size: 1%;
}

.square:hover,
.square:focus {
  cursor: pointer;
  background-color: rgba(248, 226, 245, 0.83);
}

.board__field--circle,
.board__field--cross {
  background-image: url("./pictures/circle_black.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  transition: background-size 0.15s;
}

.board__field--circle {
  background-image: url("./pictures/circle_black.svg");
}

.board__field--cross {
  background-image: url("./pictures/cross_black.svg");
}
