*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 20px;
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%)
}

.main-paragraph {
  background-color: #283e50;
}

p {
  margin: 25px 15px;
  line-height: 20px;
}

.button {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.rules {
  background-color: #1fcca4;
  border-bottom: 1px solid black;
}

.rules:hover {
  background-color: #1cbb96;
}

.play {
  background-color: #0197f6;
}

.play:hover {
  background-color: #0090e9;
}
